<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Thanos Effect</title>
  <link rel="stylesheet" type="text/css" href="/public/css/thanos.css" />
</head>
<body>
  <div class="main">
    <div class="gauntlet">
      <div class="gauntlet-wrapper">
        <div id="gauntlet-snap" class="gauntlet-item"></div>
        <div id="gauntlet-reverse" class="gauntlet-item"></div>
      </div>
    </div>
    <div class="content">
      <div class="item" id="1">
        <div class="item-body">
          <div class="avatar">
            <img src="/public/img/avatar/1.jpg" alt="" />
          </div>
          <div class="info">Iron Man</div>
        </div>
      </div>
      <div class="item" id="2">
        <div class="item-body">
          <div class="avatar">
            <img src="/public/img/avatar/2.jpg" alt="" />
          </div>
          <div class="info">Black Widow</div>
        </div>
      </div>
      <div class="item" id="3">
        <div class="item-body">
          <div class="avatar">
            <img src="/public/img/avatar/3.jpg" alt="" />
          </div>
          <div class="info">Captain America</div>
        </div>
      </div>
      <div class="item" id="4">
        <div class="item-body">
          <div class="avatar">
            <img src="/public/img/avatar/4.jpg" alt="" />
          </div>
          <div class="info">Spider Man</div>
        </div>
      </div>
      <div class="item" id="5">
        <div class="item-body">
          <div class="avatar">
            <img src="/public/img/avatar/5.jpg" alt="" />
          </div>
          <div class="info">Thor</div>
        </div>
      </div>
      <div class="item" id="6">
        <div class="item-body">
          <div class="avatar">
            <img src="/public/img/avatar/6.jpg" alt="" />
          </div>
          <div class="info">Hulk</div>
        </div>
      </div>
      <div class="item" id="7">
        <div class="item-body">
          <div class="avatar">
            <img src="/public/img/avatar/7.jpg" alt="" />
          </div>
          <div class="info">Black Panther</div>
        </div>
      </div>
      <div class="item" id="8">
        <div class="item-body">
          <div class="avatar">
            <img src="/public/img/avatar/8.jpg" alt="" />
          </div>
          <div class="info">Doctor Stranger</div>
        </div>
      </div>
    </div>
  </div>
  
  <audio src="/public/audio/thanos_snap_sound.mp3" preload id="audio-snap"></audio>
  <audio src="/public/audio/thanos_reverse_sound.mp3" preload id="audio-reverse"></audio>
  <script type="text/javascript" src="/public/js/html2canvas.min.js"></script>
  <script type="text/javascript" src="/public/js/index.js"></script>
</body>
</html>